.list-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &:nth-child(2n) {
     background-color: rgb(31, 28, 28);
   }
   * > {
     flex-grow: 1;
     flex-shrink: 1;
   }
   &__checkbox {
     display: block;
     flex-basis: 10px;
   }
   &__native-input {
      
   }
   &__label {
     border: 1px solid rgb(179, 179, 179);
     display: block;
     border-radius: 2px;
     width: 10px;
     height: 10px;
   }
   &__title {
     width: calc(100% - 30px);
     padding: 8px;
   }
   &__del {
     display: block;
     font-size: 1rem;
     border: none;
     background-color: transparent;
     width: 20px;
     color: #ffffff;
     cursor: pointer;
   }
 }

 input .list-item__native-input {
  background-color: #646363;
  cursor: pointer;
 }

input.task-list__input {
  background-color: #646363;
  border: none;
  padding: 0.3rem;
}