.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  * > {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  &__title {
    width: calc(100% - 30px);
    padding: 8px;
  }
  &__del {
    display: block;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    width: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}

input .list-item__native-input {
 background-color: rgb(100, 99, 99);
 cursor: pointer;
}