@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

body {
  max-width: 2300px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
p, figure, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(12, 189, 224);
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

input{
  color: rgb(255, 255, 255);
}

input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

input:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

input::-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

input::placeholder {
  color: rgb(255, 255, 255);
}

.page-login {
  background-image: url(./todo-list.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  &__caption {
    font-size: 3rem;
  }
}

.btn-container {
  text-align: center;
  font-size: 2rem;
}

.btn {
  position: relative;
  display: block;
  margin: 1rem auto;
  padding: 25px 60px;
  overflow: hidden;
  border-width: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
          box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #0E181A;
  color: rgb(255, 255, 255);
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  &:hover, &:focus {
    background-color: #27ae60;
  }
}

.logout-container {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  &__btn {
    padding: 10px 15px;
    font-size: 1rem;
  }
  &__usere {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }
}

.text-center-block {
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0E181A;
  color: rgb(255, 255, 255);
}